<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ValueResearch Advisor - Mobile Test Suite"
       parallel="tests"
       thread-count="2"
       verbose="1">

    <listeners>
        <listener class-name="base.TestListener"/>
    </listeners>

    <!-- Device 1 / Emulator run -->
    <test name="Android - Emulator Run">
        <parameter name="executionType" value="emulator"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.PortfolioPlannerTest"/>
            <class name="tests.PortfolioPlannerInvestorTest"/>
        </classes>
    </test>

    <!-- Device 2 / Real Device run (comment out if not needed) -->
    <!--
    <test name="Android - Real Device Run">
        <parameter name="executionType" value="real"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    -->

</suite>
